<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738259765308-phd9sj8pd78rsb5338c4m3ns7d5li8gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738259765308-phd9sj8pd78rsb5338c4m3ns7d5li8gc</string>
	<key>API_KEY</key>
	<string>AIzaSyAVe2VHylsp_47dq0_hyJIKT9YjncNUTmk</string>
	<key>GCM_SENDER_ID</key>
	<string>738259765308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ozgun.Xplor-App</string>
	<key>PROJECT_ID</key>
	<string>xplor-c3c26</string>
	<key>STORAGE_BUCKET</key>
	<string>xplor-c3c26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738259765308:ios:03ae40b7e583925f455b39</string>
</dict>
</plist>